body {
  background-image: url("photos/matrix.gif");
}

.card {
  background-color: black;
  color: green;
  padding: 20px;
  margin-top: 10px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid green;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
}
